<!-- //shop locator (popup) -->
<!-- signin Model -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-sub_agile">
        <div class="main-mailposi">
          <span class="fa fa-envelope-o" aria-hidden="true"></span>
        </div>
        <div class="modal_body_left modal_body_left1">
          <h3 class="agileinfo_sign">Sign In </h3>
          <p>
            Sign In now, Let's start your Grocery Shopping. Don't have an account?
            <a href="#" data-toggle="modal" data-target="#myModal2">
              Sign Up Now</a>
          </p>
          <form action="#" method="post">
            <div class="styled-input agile-styled-input-top">
              <input type="text" placeholder="User Name" name="Name" required="">
            </div>
            <div class="styled-input">
              <input type="password" placeholder="Password" name="password" required="">
            </div>
            <input type="submit" value="Sign In">
          </form>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //Modal content-->
  </div>
</div>
<!-- //Modal1 -->
<!-- //signin Model -->
<!-- signup Model -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-sub_agile">
        <div class="main-mailposi">
          <span class="fa fa-envelope-o" aria-hidden="true"></span>
        </div>
        <div class="modal_body_left modal_body_left1">
          <h3 class="agileinfo_sign">Sign Up</h3>
          <p>
            Come join the Grocery Shoppy! Let's set up your Account.
          </p>
          <form action="#" method="post">
            <div class="styled-input agile-styled-input-top">
              <input type="text" placeholder="Name" name="Name" required="">
            </div>
            <div class="styled-input">
              <input type="email" placeholder="E-mail" name="Email" required="">
            </div>
            <div class="styled-input">
              <input type="password" placeholder="Password" name="password" id="password1" required="">
            </div>
            <div class="styled-input">
              <input type="password" placeholder="Confirm Password" name="Confirm Password" id="password2" required="">
            </div>
            <input type="submit" value="Sign Up">
          </form>
          <p>
            <a href="#">By clicking register, I agree to your terms</a>
          </p>
        </div>
      </div>
    </div>
    <!-- //Modal content-->
  </div>
</div>
<!-- //Modal2 -->
<!-- //signup Model -->
<!-- //header-bot -->
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h3>Big
            <span>Save</span>
          </h3>
          <p>Get flat
            <span>10%</span> Cashback</p>
          <a class="button2" href="product.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item2">
      <div class="container">
        <div class="carousel-caption">
          <h3>Healthy
            <span>Saving</span>
          </h3>
          <p>Get Upto
            <span>30%</span> Off</p>
          <a class="button2" href="product.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item3">
      <div class="container">
        <div class="carousel-caption">
          <h3>Big
            <span>Deal</span>
          </h3>
          <p>Get Best Offer Upto
            <span>20%</span>
          </p>
          <a class="button2" href="product.html">Shop Now </a>
        </div>
      </div>
    </div>
    <div class="item item4">
      <div class="container">
        <div class="carousel-caption">
          <h3>Today
            <span>Discount</span>
          </h3>
          <p>Get Now
            <span>40%</span> Discount</p>
          <a class="button2" href="product.html">Shop Now </a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- //banner -->

<!-- top Products -->
<div class="ads-grid">
  <div class="container">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">Our Top Products
      <span class="heading-style">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </h3>
    <!-- //tittle heading -->
    <!-- product left -->
    <div class="side-bar col-md-3">
      <div class="search-hotel">
        <h3 class="agileits-sear-head">Search Here..</h3>
        <form action="#" method="post">
          <input type="search" placeholder="Product name..." name="search" required="">
          <input type="submit" value=" ">
        </form>
      </div>
      <!-- price range -->
      <div class="range">
        <h3 class="agileits-sear-head">Price range</h3>
        <ul class="dropdown-menu6">
          <li>

            <div id="slider-range"></div>
            <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
          </li>
        </ul>
      </div>
      <!-- //price range -->
      <!-- food preference -->
      <div class="left-side">
        <h3 class="agileits-sear-head">Food Preference</h3>
        <ul>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Vegetarian</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Non-Vegetarian</span>
          </li>
        </ul>
      </div>
      <!-- //food preference -->
      <!-- discounts -->
      <div class="left-side">
        <h3 class="agileits-sear-head">Discount</h3>
        <ul>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">5% or More</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">10% or More</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">20% or More</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">30% or More</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">50% or More</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">60% or More</span>
          </li>
        </ul>
      </div>
      <!-- //discounts -->
      <!-- reviews -->
      <div class="customer-rev left-side">
        <h3 class="agileits-sear-head">Customer Review</h3>
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>5.0</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span>4.0</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span>3.5</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span>3.0</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span>2.5</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- //reviews -->
      <!-- cuisine -->
      <div class="left-side">
        <h3 class="agileits-sear-head">Cuisine</h3>
        <ul>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">South American</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">French</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Greek</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Chinese</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Japanese</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Italian</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Mexican</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Thai</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Indian</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span"> Spanish </span>
          </li>
        </ul>
      </div>
      <!-- //cuisine -->
      <!-- deals -->
      <div class="deal-leftmk left-side">
        <h3 class="agileits-sear-head">Special Deals</h3>
        <div class="special-sec1">
          <div class="col-xs-4 img-deals">
            <img src="assets/images/d2.jpg" alt="">
          </div>
          <div class="col-xs-8 img-deal1">
            <h3>Lay's Potato Chips</h3>
            <a href="single.html">$18.00</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="special-sec1">
          <div class="col-xs-4 img-deals">
            <img src="assets/images/d1.jpg" alt="">
          </div>
          <div class="col-xs-8 img-deal1">
            <h3>Bingo Mad Angles</h3>
            <a href="single.html">$9.00</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="special-sec1">
          <div class="col-xs-4 img-deals">
            <img src="assets/images/d4.jpg" alt="">
          </div>
          <div class="col-xs-8 img-deal1">
            <h3>Tata Salt</h3>
            <a href="single.html">$15.00</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="special-sec1">
          <div class="col-xs-4 img-deals">
            <img src="assets/images/d5.jpg" alt="">
          </div>
          <div class="col-xs-8 img-deal1">
            <h3>Gujarat Dry Fruit</h3>
            <a href="single.html">$525.00</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="special-sec1">
          <div class="col-xs-4 img-deals">
            <img src="assets/images/d3.jpg" alt="">
          </div>
          <div class="col-xs-8 img-deal1">
            <h3>Cadbury Dairy Milk</h3>
            <a href="single.html">$149.00</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //deals -->
    </div>
    <!-- //product left -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-9">
      <div class="wrapper">
        <!-- first section (nuts) -->
        <div class="product-sec1">
          <h3 class="heading-tittle">Nuts</h3>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/m1.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>
              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Almonds, 100g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$149.00</span>
                  <del>$280.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Almonds, 100g" />
                      <input type="hidden" name="amount" value="149.00" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/m2.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Cashew Nuts, 100g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$200.00</span>
                  <del>$420.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Cashew Nuts, 100g" />
                      <input type="hidden" name="amount" value="200.00" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/m3.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Pista..., 250g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$520.99</span>
                  <del>$600.99</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Pista, 250g" />
                      <input type="hidden" name="amount" value="520.99" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- //first section (nuts) -->
        <!-- second section (nuts special) -->
        <div class="product-sec1 product-sec2">
          <div class="col-xs-7 effect-bg">
            <h3 class="">Pure Energy</h3>
            <h6>Enjoy our all healthy Products</h6>
            <p>Get Extra 10% Off</p>
          </div>
          <h3 class="w3l-nut-middle">Nuts & Dry Fruits</h3>
          <div class="col-xs-5 bg-right-nut">
            <img src="assets/images/nut1.png" alt="">
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- //second section (nuts special) -->
        <!-- third section (oils) -->
        <div class="product-sec1">
          <h3 class="heading-tittle">Oils</h3>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk4.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>
              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Freedom Oil, 1L</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$78.00</span>
                  <del>$110.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Freedom Sunflower Oil, 1L" />
                      <input type="hidden" name="amount" value="78.00" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk5.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Saffola Gold, 1L</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$130.00</span>
                  <del>$150.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Saffola Gold, 1L" />
                      <input type="hidden" name="amount" value="130.00" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk6.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Fortune Oil, 5L</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$399.99</span>
                  <del>$500.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Fortune Oil, 5L" />
                      <input type="hidden" name="amount" value="399.99" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- //third section (oils) -->
        <!-- fourth section (noodles) -->
        <div class="product-sec1">
          <h3 class="heading-tittle">Pasta & Noodles</h3>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk7.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Yippee Noodles, 65g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$15.00</span>
                  <del>$25.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="YiPPee Noodles, 65g" />
                      <input type="hidden" name="amount" value="15.00" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk8.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Wheat Pasta, 500g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$98.00</span>
                  <del>$120.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Wheat Pasta, 500g" />
                      <input type="hidden" name="amount" value="98.00" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk9.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Chinese Noodles, 68g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$11.99</span>
                  <del>$15.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Chinese Noodles, 68g" />
                      <input type="hidden" name="amount" value="11.99" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                      <input type="submit" name="submit" value="Add to cart" class="button" />
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- //fourth section (noodles) -->
      </div>
    </div>
    <!-- //product right -->
  </div>
</div>
<!-- //top products -->
<!-- newsletter -->
<div class="footer-top">
  <div class="container-fluid">
    <div class="col-xs-8 agile-leftmk">
      <h2>Get your Groceries delivered from local stores</h2>
      <p>Free Delivery on your first order!</p>
      <form action="#" method="post">
        <input type="email" placeholder="E-mail" name="email" required="">
        <input type="submit" value="Subscribe">
      </form>
      <div class="newsform-w3l">
        <span class="fa fa-envelope-o" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-xs-4 w3l-rightmk">
      <img src="assets/images/tab3.png" alt=" ">
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //newsletter -->
<!-- footer -->
<footer>
  <div class="container">
    <!-- footer first section -->
    <p class="footer-main">
      <span>"Grocery Shoppy"</span> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Sed ut perspiciatis unde omnis iste natus error
      sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
      quasi architecto beatae vitae dicta sunt explicabo.</p>
    <!-- //footer first section -->
    <!-- footer second section -->
    <div class="w3l-grids-footer">
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-map-marker" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Track Your Order</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-refresh" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Free & Easy Returns</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-times" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Online cancellation </h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //footer second section -->
    <!-- footer third section -->
    <div class="footer-info w3-agileits-info">
      <!-- footer categories -->
      <div class="col-sm-5 address-right">
        <div class="col-xs-6 footer-grids">
          <h3>Categories</h3>
          <ul>
            <li>
              <a href="product.html">Grocery</a>
            </li>
            <li>
              <a href="product.html">Fruits</a>
            </li>
            <li>
              <a href="product.html">Soft Drinks</a>
            </li>
            <li>
              <a href="product2.html">Dishwashers</a>
            </li>
            <li>
              <a href="product.html">Biscuits & Cookies</a>
            </li>
            <li>
              <a href="product2.html">Baby Diapers</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 footer-grids agile-secomk">
          <ul>
            <li>
              <a href="product.html">Snacks & Beverages</a>
            </li>
            <li>
              <a href="product.html">Bread & Bakery</a>
            </li>
            <li>
              <a href="product.html">Sweets</a>
            </li>
            <li>
              <a href="product.html">Chocolates & Biscuits</a>
            </li>
            <li>
              <a href="product2.html">Personal Care</a>
            </li>
            <li>
              <a href="product.html">Dried Fruits & Nuts</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- //footer categories -->
      <!-- quick links -->
      <div class="col-sm-5 address-right">
        <div class="col-xs-6 footer-grids">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="contact.html">Contact Us</a>
            </li>
            <li>
              <a href="help.html">Help</a>
            </li>
            <li>
              <a href="faqs.html">Faqs</a>
            </li>
            <li>
              <a href="terms.html">Terms of use</a>
            </li>
            <li>
              <a href="privacy.html">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 footer-grids">
          <h3>Get in Touch</h3>
          <ul>
            <li>
              <i class="fa fa-map-marker"></i> 123 Sebastian, USA.</li>
            <li>
              <i class="fa fa-mobile"></i> 333 222 3333 </li>
            <li>
              <i class="fa fa-phone"></i> +222 11 4444 </li>
            <li>
              <i class="fa fa-envelope-o"></i>
              <a href="mailto:example@mail.com"> mail@example.com</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- //quick links -->
      <!-- social icons -->
      <div class="col-sm-2 footer-grids  w3l-socialmk">
        <h3>Follow Us on</h3>
        <div class="social">
          <ul>
            <li>
              <a class="icon fb" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="icon tw" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="icon gp" href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="agileits_app-devices">
          <h5>Download the App</h5>
          <a href="#">
            <img src="assets/images/1.png" alt="">
          </a>
          <a href="#">
            <img src="assets/images/2.png" alt="">
          </a>
          <div class="clearfix"> </div>
        </div>
      </div>
      <!-- //social icons -->
      <div class="clearfix"></div>
    </div>
    <!-- //footer third section -->
    <!-- footer fourth section (text) -->
    <div class="agile-sometext">
      <div class="sub-some">
        <h5>Online Grocery Shopping</h5>
        <p>Order online. All your favourite products from the low price online supermarket for grocery home delivery in Delhi,
          Gurgaon, Bengaluru, Mumbai and other cities in India. Lowest prices guaranteed on Patanjali, Aashirvaad, Pampers,
          Maggi, Saffola, Huggies, Fortune, Nestle, Amul, MamyPoko Pants, Surf Excel, Ariel, Vim, Haldiram's and others.</p>
      </div>
      <div class="sub-some">
        <h5>Shop online with the best deals & offers</h5>
        <p>Now Get Upto 40% Off On Everyday Essential Products Shown On The Offer Page. The range includes Grocery, Personal
          Care, Baby Care, Pet Supplies, Healthcare and Other Daily Need Products. Discount May Vary From Product To Product.</p>
      </div>
      <!-- brands -->
      <div class="sub-some">
        <h5>Popular Brands</h5>
        <ul>
          <li>
            <a href="product.html">Aashirvaad</a>
          </li>
          <li>
            <a href="product.html">Amul</a>
          </li>
          <li>
            <a href="product.html">Bingo</a>
          </li>
          <li>
            <a href="product.html">Boost</a>
          </li>
          <li>
            <a href="product.html">Durex</a>
          </li>
          <li>
            <a href="product.html"> Maggi</a>
          </li>
          <li>
            <a href="product.html">Glucon-D</a>
          </li>
          <li>
            <a href="product.html">Horlicks</a>
          </li>
          <li>
            <a href="product2.html">Head & Shoulders</a>
          </li>
          <li>
            <a href="product2.html">Dove</a>
          </li>
          <li>
            <a href="product2.html">Dettol</a>
          </li>
          <li>
            <a href="product2.html">Dabur</a>
          </li>
          <li>
            <a href="product2.html">Colgate</a>
          </li>
          <li>
            <a href="product.html">Coca-Cola</a>
          </li>
          <li>
            <a href="product2.html">Closeup</a>
          </li>
          <li>
            <a href="product2.html"> Cinthol</a>
          </li>
          <li>
            <a href="product.html">Cadbury</a>
          </li>
          <li>
            <a href="product.html">Bru</a>
          </li>
          <li>
            <a href="product.html">Bournvita</a>
          </li>
          <li>
            <a href="product.html">Tang</a>
          </li>
          <li>
            <a href="product.html">Pears</a>
          </li>
          <li>
            <a href="product.html">Oreo</a>
          </li>
          <li>
            <a href="product.html"> Taj Mahal</a>
          </li>
          <li>
            <a href="product.html">Sprite</a>
          </li>
          <li>
            <a href="product.html">Thums Up</a>
          </li>
          <li>
            <a href="product2.html">Fair & Lovely</a>
          </li>
          <li>
            <a href="product2.html">Lakme</a>
          </li>
          <li>
            <a href="product.html">Tata</a>
          </li>
          <li>
            <a href="product2.html">Sunfeast</a>
          </li>
          <li>
            <a href="product2.html">Sunsilk</a>
          </li>
          <li>
            <a href="product.html">Patanjali</a>
          </li>
          <li>
            <a href="product.html">MTR</a>
          </li>
          <li>
            <a href="product.html">Kissan</a>
          </li>
          <li>
            <a href="product2.html"> Lipton</a>
          </li>
        </ul>
      </div>
      <!-- //brands -->
      <!-- payment -->
      <div class="sub-some child-momu">
        <h5>Payment Method</h5>
        <ul>
          <li>
            <img src="assets/images/pay2.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay5.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay1.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay4.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay6.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay3.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay7.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay8.png" alt="">
          </li>
          <li>
            <img src="assets/images/pay9.png" alt="">
          </li>
        </ul>
      </div>
      <!-- //payment -->
    </div>
    <!-- //footer fourth section (text) -->
  </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right">
  <div class="container">
    <p>© 2017 Grocery Shoppy. All rights reserved | Design by
      <a href="http://w3layouts.com"> W3layouts.</a>
    </p>
  </div>
</div>
<!-- //copyright -->

<!-- js-files -->
<!-- jquery -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- //jquery -->

<!-- popup modal (for signin & signup)-->
<script src="js/jquery.magnific-popup.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',
      fixedContentPos: false,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

  });
</script>
<!-- Large modal -->
<!-- <script>
		$('#').modal('show');
	</script> -->
<!-- //popup modal (for signin & signup)-->

<!-- cart-js -->
<script src="js/minicart.js"></script>
<script>
  paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

  paypalm.minicartk.cart.on('checkout', function (evt) {
    var items = this.items(),
      len = items.length,
      total = 0,
      i;

    // Count the number of each item in the cart
    for (i = 0; i < len; i++) {
      total += items[i].get('quantity');
    }

    if (total < 3) {
      alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
      evt.preventDefault();
    }
  });
</script>
<!-- //cart-js -->

<!-- price range (top products) -->
<script src="js/jquery-ui.js"></script>
<script>
  //<![CDATA[ 
  $(window).load(function () {
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 9000,
      values: [50, 6000],
      slide: function (event, ui) {
        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
      }
    });
    $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

  }); //]]>
</script>
<!-- //price range (top products) -->

<!-- flexisel (for special offers) -->
<script src="js/jquery.flexisel.js"></script>
<script>
  $(window).load(function () {
    $("#flexiselDemo1").flexisel({
      visibleItems: 3,
      animationSpeed: 1000,
      autoPlay: true,
      autoPlaySpeed: 3000,
      pauseOnHover: true,
      enableResponsiveBreakpoints: true,
      responsiveBreakpoints: {
        portrait: {
          changePoint: 480,
          visibleItems: 1
        },
        landscape: {
          changePoint: 640,
          visibleItems: 2
        },
        tablet: {
          changePoint: 768,
          visibleItems: 2
        }
      }
    });

  });
</script>
<!-- //flexisel (for special offers) -->

<!-- password-script -->
<script>
  window.onload = function () {
    document.getElementById("password1").onchange = validatePassword;
    document.getElementById("password2").onchange = validatePassword;
  }

  function validatePassword() {
    var pass2 = document.getElementById("password2").value;
    var pass1 = document.getElementById("password1").value;
    if (pass1 != pass2)
      document.getElementById("password2").setCustomValidity("Passwords Don't Match");
    else
      document.getElementById("password2").setCustomValidity('');
    //empty string means no validation error
  }
</script>
<!-- //password-script -->

<!-- smoothscroll -->
<script src="js/SmoothScroll.min.js"></script>
<!-- //smoothscroll -->

<!-- start-smooth-scrolling -->
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script>
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();

      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 1000);
    });
  });
</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
  $(document).ready(function () {
    /*
    var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear' 
    };
    */
    $().UItoTop({
      easingType: 'easeOutQuart'
    });

  });
</script>
<!-- //smooth-scrolling-of-move-up -->

<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- //js-files -->