.media {
    border: 1px solid #1ABC9C;
    border-radius: 10px;
    padding: 10px;
}

.media .media-left i {
    font-size: 35px;
    color: #1ABC9C;
}

.media .media-body {
    padding-left: 10px;
}

.div-produtos {
    font-size: 12px;
    color: rgb(155, 152, 152);
}

.div-produtos ul {
    margin: 0;
    padding: 0px 5px 5px 5px;
}