<div>
  <tabset>
    <tab *ngIf="exibirCompras" heading="Minhas compras">
      <div *ngFor="let compra of compras" class="media">
        <div class="media-left media-top">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            Data: {{ compra.data | date:'dd/MM/yyyy' }} - Valor: {{ compra.valor | currency:'BRL' }}
          </h4>
          <div class="div-produtos">
            <span>Produtos:</span>
            <ul>
              <li *ngFor="let descr of compra.descricaoProdutos">
                {{ descr }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="exibirVendas" heading="Minhas vendas">
      <div *ngFor="let venda of vendas" class="media">
        <div class="media-left media-top">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            Data: {{ venda.data | date:'dd/MM/yyyy' }} - Valor: {{ venda.valor | currency:'BRL' }}
          </h4>
          <p>
            Cliente: {{ venda.nomeCliente }}
          </p>
          <div class="div-produtos">
            <span>Produtos:</span>
            <ul>
              <li *ngFor="let descr of venda.descricaoProdutos">
                {{ descr }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>