<div class="row">
  <div class="col-md-12">
    <h3>
      <i class="fa fa-money icon-verde"></i>
      Promoções
    </h3>
    <hr />
  </div>
</div>
<div class="row equal">
  <div *ngFor="let prom of promocoes" class="col-md-4 col-xs-12 mt-10">
    <div class="card-content">
      <div class="card-img">
        <img [src]="prom.urlImagem" alt="">
        <!-- <span>
          <h4>{{ prom.id }}</h4>
        </span> -->
      </div>
      <div class="card-desc">
        <h3>{{ prom.nome }}</h3>
        <p>{{ prom.descricao }}</p>
        <a [routerLink]="['/catalogo']" [queryParams]="{promocao: prom.id, nomepromocao: prom.nome}" class="btn-custom">Ver
          <i class="fa fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>