<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <i class="fa fa-shopping-basket"></i> PUC Loja
      </a>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Carrinho</a>
        </li>
        <li *ngIf="!(infosUsuarioLogado$ | async)?.autenticado">
          <a routerLink="/acesse" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
            Identifique-se
          </a>
        </li>

        <li class="nav-item dropdown" dropdown *ngIf="(infosUsuarioLogado$ | async)?.autenticado">
          <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user"></i> {{ (infosUsuarioLogado$ | async)?.login}}
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/pedidos">
                <i class="fa fa-list-alt"></i> Pedidos
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
                <a class="dropdown-item" (click)="logoff()">
                  <i class="fa fa-power-off"></i> Sair
                </a>
            </li>
          </ul>
      </ul>

      <form class="navbar-form" role="search">
        <div class="input-group">
          <input #buscar type="text" class="form-control" placeholder="O que você está procurando hoje ?" (keyup.enter)="pesquisarCatalogo(buscar.value)">
          <span class="input-group-btn">
            <button class="btn btn-custom" type="button" (click)="pesquisarCatalogo(buscar.value)">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>