<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
       <i class="fa fa-shopping-basket"></i> PUC Loja
      </a>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Carrinho</a>
        </li>
        <li>
          <a>
            <span class="glyphicon glyphicon-list-alt"></span>
            Pedidos
          </a>
        </li>
        <li class="dropdown">
          <a routerLink="/acesse" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span
              class="glyphicon glyphicon-user"></span>
            Identifique-se
          </a>

          <ul class="dropdown-menu">
            <li><a href="#">View Profile</a>
            </li>
            <li><a href="#">Manage Account</a>
            </li>
            <li><a href="#">Invite a friend</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="/auth/signout">Log out</a>
            </li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form" id="search" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="O que você está procurando hoje ?">
          <span class="input-group-btn">
            <button class="btn btn-custom" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>