<div class="row">
  <div class="col-md-2 col-xs-12 hidden-xs">
    <app-categorias></app-categorias>
  </div>
  <div class="col-md-5 col-xs-12">
    <div class="panel panel-custom">
      <div class="panel-heading">
        <div class="panel-title">Já é um usuário ? Faça o login !</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="txtLogin">E-mail</label>
                <input type="email" class="form-control" id="txtLogin" placeholder="E-mail">
              </div>
              <div class="form-group">
                <label for="txtSenha">Senha</label>
                <input type="password" class="form-control" id="txtSenha" placeholder="Senha">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-custom">
          <i class="fa fa-user"></i>
          Entrar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-xs-12">
      <div class="panel panel-custom">
          <div class="panel-heading">
            <div class="panel-title">Não tem uma conta ? Cadastre-se já ! É rápido, fácil e gratuito.</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="txtCriarLogin">Nome</label>
                        <input type="text" class="form-control" id="txtCriarNome" placeholder="Nome">
                      </div>
                  <div class="form-group">
                    <label for="txtCriarLogin">E-mail</label>
                    <input type="email" class="form-control" id="txtCriarLogin" placeholder="E-mail">
                  </div>
                  <div class="form-group">
                    <label for="txtCriarSenha">Senha</label>
                    <input type="password" class="form-control" id="txtCriarSenha" placeholder="Senha">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-custom">
              <i class="fa fa-plus"></i>
              Cadastrar
            </button>
          </div>
        </div>
  </div>
</div>