<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-12">
    <form [formGroup]="formLogin" role="form" (ngSubmit)="submeterLogin()">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-user"></i>
            Acesse sua conta</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label for="txtLogin">Usuário</label>
                  <input type="text" class="form-control" id="txtLogin" placeholder="Usuário" formControlName="usuario">
                  <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                    <div *ngIf="f.usuario.errors.required">Usuário obrigatório</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="txtSenha">Senha</label>
                  <input type="password" class="form-control" id="txtSenha" placeholder="Senha" formControlName="senha">
                  <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
                    <div *ngIf="f.senha.errors.required">Senha obrigatória</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-custom" [ngClass]="{'disabled':logando}">
            <i class="fa" [ngClass]="{'fa-user': !logando, 'fa-spinner fa-spin fa-fw':logando}"></i>
            Entrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>