/* You can add global styles to this file, and also import other style files */
/* Classes auxiliares de margem */

/* Espaçamento do body por conta da nav fixa */
body {
    padding-top: 65px;
}

/* Classes auxiliares de margem */
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

@media (max-width: 576px) { 
    .xs-mt-0 {
        margin-top: 0px;
    }
    
    .xs-mt-10 {
        margin-top: 10px;
    }
}

/* Estilo de cards de produtos e promoções */
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: 276px;
    display: block;
    max-height: 276px !important;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 65px;
    max-height: 65px;
    overflow-y: hidden;
}
.btn-custom{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
    margin-right: 5px;
}
.btn-custom:hover {
    background: orange;
}
.btn-custom {
    text-decoration: none !important;
    color: #fff !important;
}

/* Rows com mesma altura */
.row.equal {
    display: flex;
    flex-wrap: wrap;
  }

.row.equal > div[class*='col-'] {  
  display: flex;
  flex-direction: column;
}

/* Ícones verdes */
i.icon-verde {
    color:#1ABC9C;
}

/* Painel verde */
.panel-custom {
    border: 1px solid #ddd !important;
}

.panel-custom > .panel-heading {
    background-color:#1ABC9C;
    color: #fff !important;
}

.panel-custom > .panel-body .form-horizontal > .form-group {
    margin-left:0px;
    margin-right: 0px;
}

/* Tabs */
.tab-content {
    padding-top: 10px !important;
}

.nav-tabs > li.active > a {
    border-top: 3px solid #1ABC9C !important;
}

.nav-tabs > li > a {
    color: #1ABC9C;
}

/* Menu */
.navbar-brand {
    color: #1ABC9C !important;
}

/* Paginador */
.pager-container li {
    cursor: pointer;
}

.pager-container li a {
    color: #1ABC9C !important;
}

.pager-container li.active a {
    color: #ffffff !important;
    background-color: #1ABC9C !important;
    border-color: #1ABC9C !important;
}

/* Well customizada */
.well.well-custom {
    color: #ffffff;
    background-color: #1ABC9C !important;
}